absl-py 
ai-benchmark==0.1.2
astunparse 
cached-property 
cachetools==4.2.2
certifi==2021.5.30
charset-normalizer==2.0.4
flatbuffers==1.12
gast 
google-auth==1.35.0
google-auth-oauthlib==0.4.5
google-pasta==0.2.0
grpcio 
h5py 
idna==3.2
keras==2.6.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing 
Markdown==3.3.4
numpy 
oauthlib==3.1.1
opt-einsum 
Pillow==8.3.1
protobuf==3.17.2
psutil==5.8.0
py-cpuinfo==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
scipy 
six 
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow-estimator==2.5.0
tensorflow-macos==2.5.0
tensorflow-metal==0.1.2
termcolor==1.1.0
typing-extensions 
urllib3==1.26.6
Werkzeug==2.0.1
wrapt 
